div {
    background-color: aqua;
    width: 394px;
    height: 81px;
    margin: 96px;
    font-size: 52px;
    border-radius: 4px;
    box-shadow: 2px 3px 12px 0px black;
}

div p {
    padding: 8px;
}